.laCalculadora{

    background-color: #8e8f92;
    left: 150px;
    position: relative;
    top: 50px;
    color:rgb(255, 255, 255); 
}
.titulo{
    font-size: 25px;
}
.boton{
    width: 100px;
    height: 30px;
    background-color: darkslategrey;
    border-radius: .200 em;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 255, 255);
}
.sexagesimal{
    width: 90px;
    height: 20px;
    text-align: right;
}
.sexagesimalSeg{
    height: 20px;
    text-align: right;
}
