<title>Calculadora Inverso</title>
    </head>
    <body class="laCalculadora">
        <form>
            <div class="titulo">Calculadora problema inverso con iteraciones altura cero </div> <br><br>
            A continuación ingresar las coordenadas:<br><br>
            X &nbsp;&nbsp;&nbsp; <input type="number" id="coordenadaX" autofocus placeholder="Ingrese coordenadas para x"><br><br>
            Y &nbsp;&nbsp;&nbsp; <input type="number" id="coordenadaY" autofocus placeholder="Ingrese coordenadas para y"><br><br>
            Z &nbsp;&nbsp;&nbsp; <input type="number" id="coordenadaZ" autofocus placeholder="Ingrese coordenadas para z"><br><br>
            
            <link rel="stylesheet" href="estilo.css">

            <input type="button" value="Calcular" onClick="calcular()" class="boton">
            <input type="button" value="Limpiar" onClick="limpiar()" class="boton"><br><br><br>

            <script type="text/javascript" src="FuncionCalcular.js"></script>

            Longitud geodésica: &nbsp;&nbsp;&nbsp; <input type="number" id="Longitud" autofocus placeholder="Resultado en decimales"><br><br>
            &nbsp;&nbsp;&nbsp; λ: &nbsp;&nbsp;&nbsp; <input type="number" id="Longitud_G" class="sexagesimal"> ° <input type="number" id="Longitud_M" class="sexagesimal" > ' <input type="number" id="Longitud_S" class="sexagesimalSeg"> " <br><br>

            Latitud geodésica<br><br>Condición inicial para la latitud<br><br> 
            Latitud cero: &nbsp;&nbsp;&nbsp; <input type="number" id="Latitud_0" autofocus placeholder="Resultado en decimales"><br><br>
            &nbsp;&nbsp;&nbsp; φ: &nbsp;&nbsp;&nbsp; <input type="number" id="Latitud_0_G" class="sexagesimal"> ° <input type="number" id="Latitud_0_M" class="sexagesimal"> ' <input type="number" id="Latitud_0_S" class="sexagesimalSeg" > "<br><br>
            
            N1: &nbsp;&nbsp;&nbsp; <input type="number" id="N1"><br><br>

            Latitud uno: &nbsp;&nbsp;&nbsp; <input type="number" id="Latitud_1" autofocus placeholder="Resultado en decimales"><br><br>
            &nbsp;&nbsp;&nbsp; φ: &nbsp;&nbsp;&nbsp; <input type="number" id="Latitud_1_G" class="sexagesimal"> ° <input type="number" id="Latitud_1_M" class="sexagesimal"> ' <input type="number" id="Latitud_1_S" class="sexagesimalSeg"> "<br><br>
            Altura: &nbsp;&nbsp;&nbsp; <input type="number" id="h" ><br><br>

    </form>
    </body>
</html>
